.projeto {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.projeto .subtitulo {
  color: #e0e0e0;
  max-width: 3.5ch;
}

.mobile {
  display: none;
}

.projeto-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.projeto-container::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #95FFE6 0%, #23D4AA 100%);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projeto-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.projeto-titulo a {
  text-decoration: none;
  color: #141414;
}

.projeto-container:hover {
  background-color: #E0E0E0;
}

.projeto-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.projeto-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.projeto-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #FFFFFF;
  padding: 5px 10px ;
}

@media (max-width: 800px) {
  .projeto {
    grid-template-columns: 1fr;
    gap: 40px
  }
  .mobile {
    display: block;
  }
  .projeto .subtitulo {
    color: #141414;
  }
  .projeto-texto {
    font-size: 1.125rem;
    max-width: 60ch;
  }
  .desktop {
    display: none;
  }
}

@media (max-width: 400px) {
  .projeto-container {
    grid-template-columns: 1fr;
  }
}
